.home-container {
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.logo {
  display: flex;
  width: 110px;
  height: auto;
}
.logo-container {
  position: relative;
}
.home-title {
  font-size: 15px;
  margin: 0;
}

.custom-link {
  font-size: 18px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container .ant-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-with-name {
  max-width: 80%; /* Reduced the image size to 80% */
  height: auto;
  margin-bottom: 10px;
}

.img-description {
  font-size: 16px;
}
.img-description-bold {
  font-weight: bold;
  font-size: 25px;
}
.rounded-image {
  border-radius: 20%;
  width: 600px;
  height: auto;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}
